body {
    background-color: aqua;  
}

.header {
    color: rgb(235, 182, 11);
    font-family:cursive;
}

header h1 span{
    color: rgb(123, 203, 240);
}

footer h3 span{
    color: rgb(123, 203, 240);
}

header nav ul{
    text-align: right;
    color: white;
}

header, footer{
    background: rgb(139, 124, 153);
    border-radius: 10px;
    font-family:cursive;
}

footer{
    text-align: center;
    font-family:cursive;
    color: rgb(235, 182, 11);
}

.body-heading{
    text-align: center;
    font-family: fantasy;
}

p{
    text-align: center;
    font-family: monospace;
    font-size: large;
}

form{
    text-align: center;
}

label, input{
    font-family: monospace;
}

textarea{
    float: center;
}

figure {
    display: flex;
    justify-content: center;
}

img{
    width:300px;
    height: 300px;
}

a, a:link, a:visited, a:focus, a:hover, a:active{ 
    text-decoration: none;
    text-decoration-color: none;
}

